<section>
  <div class="container">
    <div class="row">
 
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://californiavol.github.io">CaliforniaVol Github Pages</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://californiavol.github.io">Github Pages</a></li>
                    <li>
                        <a href="http://charlesbrownroberts.com">Personal Homepage</a>
                    </li>
                    <li>
                        <a href="http://charlesbrownroberts.com/blog/">Blog</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.linkedin.com/pub/charles-brown-roberts/32/547/303"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/californiavol"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://github.com/californiavol?tab=repositories"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://plus.google.com/+CharlesBrownRoberts/"><i class="fa fa-google-plus fa-2x"></i></a></li>
                    
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </nav> 
 
 
    </div>
  </div>
</section>